# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/core/target/
/Core/target/
/Common/target/
/Player/target/
/Bullet/target/
/CommonBullet/target/
/.idea/
*.lst
Asteroid/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Collision/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Collision/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
Collision/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Collision/target/test-classes/META-INF/jpms.args
CommonAsteroid/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Enemy/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Enemy/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
